button{
    background-color: blue;
    border-radius: 40px;
    color: aliceblue;
    align-content: center;
}  
.table{
    width:40%;
    justify-content: center;
    border-style: ridge;
    font: bold; 
} 
.table2{
    border: 4px ridge rgba(96, 95, 92, 0.681);
    padding: 20px;
    background-color:rgba(255, 118, 118, 0.407);
    font-weight: bold;
    width: 80%;
    color: rgb(4, 23, 39);
    
} 
.form-control:hover,blank{
    background-color: rgba(165, 42, 42, 0.229);
    
}
.datatab{
    justify-content: center;
    display: flex;
    margin-top:2rem;
    box-shadow: 20% grey;
}
.error{
    color:red;
}
